/vendor/
/node_modules
/test/
/dist/
/output/
/bin/
/build/
Homestead.yaml
Homestead.json
!.env
.env.example
!*.sh
!fis-conf.js
.git/
.svn/
Vagrantfile
.vagrantfile/
artisan
!gulpfile.js
*.xml
*.yaml
composer.json
!package.json
server.log
!node_modules.log